@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

:root {
  --color-primary: #fd377e;
  --color-primary2: #e34981;
  --color-secondary: #03b898;
  --color-gray: #f8f9fa;
  --color-gray2: #e9ecef;
  --color-gray3: #343a40;
  --color-gray4: #212529;
}

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
